div.ReportWrapper
{
	padding: 2px;
}

div.Report
{
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
	width: 100%;
}

table.ReportsTable
{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
td.ReportsTable
{
	padding: 0px;
}

.ReportDescription
{
	width: 100%;
	padding: 2px;
	font: 10pt Arial, Verdana;
	color: #555555;
	text-align: left;
}

table#Main
{
	width: 100%;
	text-align: center;
	vertical-align: top;
}

.ReportTitle
{
	text-align: left;
	font: bold 8pt Arial, Verdana;
	color: #497699;
}

table#Main .ReportSecondaryTitle
{
	text-align: right;
	font: bold 8pt Arial, Verdana;
	color: #497699;
}

.ReportTitleCell
{
	padding: 0px;
	width: 100%;
	border-bottom: solid 1px #CCCCCC;
}

.ReportTitleTable
{
	padding: 0px;
	width: 100%;
}

TD.ReportSummaryText
{
	padding: 10px 10px 10px 20px;
	text-align: left;
}

TD.ReportSummaryHeader
{
	border-bottom: solid 1px #CCCCCC;
	font: bold 8pt Arial, Verdana;
	color: #497699;
}

TABLE.ReportSummaryTable
{
	/*border: solid 1px #CCCCCC;*/
}

TABLE.ReportSummaryTable TD
{
	padding: 3px;
}

.ReportSummary
{
}

.ReportSummaryLine
{
	padding-bottom: 1px;
}

.ReportSummaryLabel
{
	text-align: left;
	font: 8pt Arial, Verdana;
	color: #497699;
	padding-left: 2px;
}

.ReportSummaryField
{
	text-align: left;
	font: 8pt Arial,Verdana;
}

.ReportTitleTDLeft
{
	text-align: left;
	padding: 20px 3px 3px 25px;
}
.ReportTitleTDRight
{
	text-align: right;
	padding: 20px 25px 3px 3px;
}

.ReportTitleTDRight_PRINT
{
	display: none;
	text-align: right;
	padding: 20px 25px 3px 3px;
}

table#Main .ReportNoData
{
	background-color: #FFFFFF;
	color: #666666;
	font: bold 9pt Arial,Verdana;
	text-align: center;
	padding-top: 10px;
}

table.ReportChart, table.ReportDashboard
{
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;
}

table.ReportTable
{
	font: 8pt Arial,Verdana;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}
.ReportTableWrapper
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}
td.ReportCell
{
	padding: 0px 30px 0px 30px;
}

table.ReportTable th
{
	background-color: #FFFFFF;
	color: #497699;
	font: bold 9pt Arial,Verdana;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: bottom;
}

table.ReportTable td
{
	padding: 3px 4px 2px 4px;
	height: 20px;
	background-color: #F2F2F2;
	border-top: solid 1px #E2E2E2;
	border-bottom: solid 1px #E2E2E2;
	color: #333333;
	font: 8pt Arial,Verdana;
}

td.RightCalendar 
{
	padding-top: 6px;
}


table.ReportTable .lc
{
	padding-left: 15px !important;
}
table.ReportTable .rc
{
	padding-right: 15px !important;
}

.Dashboard table.ReportTable td
{
	height: 25px !important;
}
.Dashboard table.ReportTable .lc
{
	padding-left: 25px;
}
.Dashboard table.ReportTable .rc
{
	padding-right: 25px;
}


table.ReportTable td.lc
{
	border-left: solid 1px #E2E2E2;
}

table.ReportTable td.rc
{
	border-right: solid 1px #E2E2E2;
}

table.ReportTable tr.alt td
{
	background-color: #FFFFFF;
	border-bottom: none;
}

table.ReportTable tr.alt td.lc
{
	border-left: solid 1px #FFFFFF;
}

table.ReportTable tr.alt td.rc
{
	border-right: solid 1px #FFFFFF;
}

/* -------------------------------------------------------
Footer Report Area 
---------------------------------------------------------*/
table.ReportTable td.FooterTotal
{
	white-space: nowrap;
	padding: 4px;
	border-top: solid 1px #E2E2E2;
	background-color: #E2EEFF;
}

table.ReportTable td.FooterOther
{
	padding: 3px 4px 2px 4px; /*padding: 1px 4px 0px 4px;*/
	border-top: solid 1px #E2E2E2;
	background-color: #FEF1B9;
}

table.ReportTable td.FooterAverages
{
	white-space: nowrap;
	padding: 4px;
	border-top: solid 1px #E2E2E2;
	background-color: #E2EEFF;
}

.datepicker
{
	font: 8pt arial;
	color: Black;
	text-align: center;
	padding-bottom: 10px;
}

td.ReportLegendLeft
{
	width: 45px;
	text-align: left;
	font: 8pt Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 6px;
}
td.ReportLegendRight
{
	font: 8pt Arial, Helvetica, sans-serif;
	padding: 3px;
	text-align: left;
}
td.ReportLegendRight select
{
	width: 100%;
}

table.EmailReportBottomCopyrightNotice
{
	border: none;
}

table.EmailReportBottomCopyrightNotice div
{
	font: 8pt arial;
	color: #999999;
	text-align: left;
}

/* Duplicated from SV5_HyperGrid for email reports to function properly */
.al { text-align: left !important; }
.ar { text-align: right !important; }
.ac { text-align: center !important; }
.aj { text-align: justify !important; }
.nw { white-space: nowrap; }

/* -------------------------------------------------------
Print Report Styles 
---------------------------------------------------------*/

@media print
{
	.ReportTitleTDRight_PRINT
	{
		display: block;
		text-align: right;
		padding: 20px 25px 3px 3px;
	}
}



/* -------------------------------------------------------
Head data Report Styles 
---------------------------------------------------------*/
H1
{
	font-weight: bold;
	font-size: 16pt;
	line-height: 18pt;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family:  "Arial", sans-serif;
}

H2
{
	font-weight: bold;
	font-size: 12pt;
	line-height: 14pt;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 15px;
	padding-bottom: 0px;
	font-family:  "Arial", serif;
}

H2 Span.Color
{
 color:#497699;	
}

H3
{
	font-weight: normal;
	font-size: 10pt;
	line-height: 12pt;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-left: 0px;
	font-family:  "Times New Roman", serif;
}

H4
{
	font-weight:bolder;
	font-size: 12pt;
	line-height: 14pt;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-left: 0px;
	font-family:  "Times New Roman", serif;
}
