.internalpagewidth{
    margin-left:10%;
    width:80%;
}


@media screen and (max-width: 400px) {

}

.newline{
    margin:5px 10px;
}


.col-6{
    width:60% ;
    display:inline-block;
}

.col-3{
    width:35% ;
    display:inline-block;
 }

.centered{
    text-align:center;
}

     .clear{
         clear:both;
     }

div.centered >strong{
    font-family:Verdana;
    font-size:13pt;
    color:orangered;
}

         .pg-normal {
                color: #6699FF;
                font-weight: normal;
                font-size: 14px;
                text-decoration: none;    
                cursor: pointer;    
            }
            .pg-selected {
                color: #6699FF;
                font-size: 14px;
                font-weight: bold;        
                text-decoration: underline;
                cursor: pointer;
            }
            .listingPagesContainer a {
    float: left;
    font-size: 1.3em;
    color: #6699FF;
}

    .listingPagesContainer a:visited {
        color: #6699FF;
    }

    .listingPagesContainer a:hover {
        color: #6699FF;
    }

            a:link {
    color: #6699FF;
}
            a:hover {
    color: #6699FF;
}a:visited {
    color: #6699FF;
    text-decoration:underline;
}

 .H1CityText{
    font-family:Verdana;
    margin-top:10px;
    color:#ff6600;
}

 div.clink a, div.clink a:hover{
     margin:0px;
     color: #6699FF;
     text-decoration:none;
     font: 12px Vedrana, Arial, Helvetica, sans-serif;
 }

 div.clink{
     padding:24px;
 }

  div.clink div {
     margin:0px;
 }


 .comments{
     font: 12px Vedrana, Arial, Helvetica, sans-serif;
     display:block; width: 180px;font-size:12px; font-weight:500;
     color:#000;
 }

 .stepbox{
     float: left; width: 900px; font-family: Arial; color: #9b7f59; font-size: 12px; border: 2px solid #ACA593;
 }

 .stepbox label{
     font: 12px Vedrana, Arial, Helvetica, sans-serif;
 }