div#cus_head  h2 { display: inline-block; color:#154890 ; font-family:Verdana; font-size:20pt;margin-top:5px;}
div#cus_head span { margin-left: 50px; color:#323e4f; font-family:Verdana; font-size:12px; }

.mcontainer{
    width:100%;
}

.headerunderline{
    border-bottom:2px solid #e1d4c0;
}
.footertopline{background-color:#154890;border:1px solid #000; border-top:2px solid #ff6600;margin-top:10px;padding-bottom:20px}

.footerparag{
    width:19%;
    text-align:left;
    display:inline-block;
    float:none;
    vertical-align:top;

}

.footerparag .footertitle{
    font-size:15px;
    font-weight:500;
    color:#fff;
    margin-left:40px;
    font-family:Verdana;
    margin-top:10px;
}

.footerparag ul{
    text-align:left;
    margin-left:0px;
    list-style-type:none;
}

.footerparag ul li a{
    color:#f5ede3;
    font-size:12px;
    font-family:Verdana;
    cursor: pointer;
}

.btnsign{
    color:#323e4f;
    border-radius:3px;
    background-color:white;
    border:2px solid #cdbfac;
    font-size:13px;
    font-family:Verdana;
    margin-top:10px;
    padding:10px,20px,10px,20px;
    height:30px;
}

a.nodecoration{
    text-decoration:none;
    font-size:28px;
    color: #154890;
}
a.nodecoration:hover{
    text-decoration:none;
}

.search-form {
    display: inline-block;
    background: #fff;
    margin-top:10px;
    margin-left:30%; 
}

.search-form input {
    width:250px;
    font-size: 1.3em;
    height: 30px;
    border-radius:6px;
    border: none;
    padding-left:10px;
	box-sizing: border-box;  
    display:inline-block;
    border: 2px solid #cdbfac;
    border-radius:5px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #323e4f;
    font-family:Verdana;
    font-size:9pt;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #323e4f;
    font-family:Verdana;
    font-size:9pt;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #323e4f;
   opacity:  1;
       font-family:Verdana;
    font-size:9pt;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #323e4f;
       font-family:Verdana;
    font-size:9pt;
}


.search-form button {
    display:block;
    border: none;
     border: 2px solid #cdbfac;
    border-radius:5px;
    color:white;
    font-family:Verdana;
    font-size:12px;
    background-color: #154890;
    height: 30px;
    vertical-align: top;
    cursor: pointer;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
    float:right;
    margin-right:-1px;
}

ul.main-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

ul.main-navigation> li{
    width:10.5%;
}

.main-navigation li {
    float: left;
}

.main-navigation li a, .dropbtn {
    display: block;
    color: #404040;
    text-align: center;
    padding: 7px 1px;
    text-decoration: none;
}

.main-navigation> li> a {
    display: block;
    color: #404040;
    text-align: center;
    padding: 12px 1px;
    text-decoration: none;
}

.main-navigation >li> a:hover, .dropdown:hover .dropbtn {
    border-bottom:2px solid #e16600;
}

.main-navigation >li> a,.dropdown .dropbtn{
    border-bottom:2px solid #fff;
}

.main-navigation li.dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 950%;
    border:1px solid #e1d4c0;
}


.dropdown:hover .dropdown-content {
    display: block;
    z-index: 12;
}

h2{ color:#154890 ; font-family:Verdana; font-size:18px;}

.dropdown-content li:hover {background-color: #f1f1f1}
.dropdown-content a:hover {background-color: #f1f1f1}

.itemselected{
    background-color: #f1f1f1;
}

.itemselected::after{
    content:" >>";
}

.dropdown-content ul{list-style:none; list-style-type:none;}
.dropdown-content ul li{
    width:200%;
    list-style-type:none;
    margin:0;
    position:relative;
    left:-40%;
    padding:0;
    text-align:left;
}

    .dropdown-content div div:first-child  ul li a {
        text-align:left;
        padding-left:30px;
    }
div.dropdown-content, .dropdown-content div{overflow:hidden;}

#menu1.dropdown-content{
    left:-100%;
}
#menu2.dropdown-content{
    left:-200%;
}
#menu3.dropdown-content{
    left:-300%;
}
#menu4.dropdown-content{
    left:-400%;
}
#menu5.dropdown-content{

    left:-500%;
}
#menu6.dropdown-content{
    
    left:-600%;
}




 /* Dropdown Button */
.wdropbtn {
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.wdropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.wdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    text-align:left;

}

/* Links inside the dropdown */
.wdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.wdropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.wdropdown:hover .wdropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.wdropdown:hover .wdropbtn {
    background-color: #f1f1f1;
}