#headertitle{
    color:#154890;
    font-family:Verdana;
    font-size:16px;
}

#headerlast{
    color:black;
    font-family:Verdana;
    font-size:16px;
}

.normaltxt{
    color:black;
    font-family:Verdana;
    font-size:12px;
}

.normalval{
    color:#154890;
    font-family:Verdana;
    font-size:12px;
}

#validnumber{
    width:40px;
}

.formborder{
    margin-top:15px;
    border:3px solid #e1d4c0;
    border-radius:3px;
    background-color:#fff;
     padding:50px;
}

.listingpadding{
    margin-top:50px;
    text-align:center;
    border:3px solid black;
    border-radius:3px;
    background-color:#f3ede3;
    padding-top:10px;
    padding-bottom:10px;    
    margin-bottom:10px;
}

.borderpane{
    text-align:center;
    border:3px solid black;
    border-radius:3px;
    background-color:#f3ede3;
    padding-top:10px;
    padding-bottom:10px;    
}

.textcenter{
    text-align:center;
}


.formmargin{
    margin-bottom:200px;
}

.tablepanel{
    padding:10px;
    margin-left:3px;
    margin-right:3px;
    border:1px solid #6699ff;
}

.formpadding{
    padding:20px;
}

.formcontrolmargin{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

.formcommadbt{
    font-size:10px;
    font-family:Verdana;
    margin-left:1px;
    margin-right:1px;
    float:left;
}

.buttongroup{
    margin-left:4px;
}
.btgroupcontainer{
    width:400px;
    background-color:white;
    border:none;
    margin-right:0px;
    padding:0px;
}

.pagewidth{
    width:80%;
    margin-left:10%;
}

.smallwidth{ width:60px;}

.formtable{
    background-color:#fff;
}

.top_formrow { margin-top:20px; }

.tab-pane {
    background: white;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    padding: 10px;
}

.tabback{
    background-color:white;
    padding-top:10px;

}

.normalmargin{
    margin-left:20px;
    margin-right:20px;
}

#exTab3{
    background-color:white;
    padding:5px 5px 5px;
    margin-left:30px;
    margin-right:30px;
}

ul {
  list-style-type: none;
}

.tablerow{
    background-color:#154890;
}

.titletxt{
    font-family:Verdana;
    font-size:14px;
    font-weight:bold;
}

.normalbackground{
    padding:10px;
    background-color:#f3ede3;
}

.headerbartxt{
    color:orangered;
    font-size:16px;
    font-weight:bold;
    padding-left:20px;
}

.companyname{
    margin-top:30px;
    font-size:80px;
}

.companyname a:hover {
    text-decoration: none !important;
    color:dimgray;
}

.footermargin{

}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navigation{
    border-top:1px solid #e1d4c0;
    color:#323e4f;
}

.bottommargin{
    margin-bottom:200px;
}

.navigation ul li:hover{
    color:azure;
}

td,th{height:60px;}