.internalpagewidth{
    margin-left:10%;
    width:80%;
}


@media screen and (max-width: 400px) {

}

.newline{
    margin:10px;
}

.newrow{
    margin-top:0px;
    font: 12px Vedrana, Arial, Helvetica, sans-serif;
}

a.wlocation{
    font: 12px Vedrana, Arial, Helvetica, sans-serif;
    margin:0;
    font-weight:300;
    color:#6699FF;
    text-decoration:none;
}

.clocation{
    display:block;
    font: 12px Vedrana, Arial, Helvetica, sans-serif;
    font-weight:300;
}

a.wlocation:hover{
       color:#6699FF;
    text-decoration:none;
}


.newitem{
    display:inline-block;
    width:25%;
    vertical-align:top;
    margin-top:50px;
}

.comments{
    width:170px;
    margin:0 auto;
    text-align:left;
    color: #050505;
    font-size:12px;
    font-weight:100;
}

.comments span{
    font-weight:100;
}

.bottomborder{
    border-bottom:2px solid #cdbfac;
    min-height:220px;
    vertical-align:top;
}

.pg-normal {
    color: #6699FF;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    margin:0 2px;
}

.pg-selected {
    color: #6699FF;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.imgstyle{
    margin:2px 0px;

    border: 0px solid #ACA593;
    width:170px;
    height:140px;
}

.borerstep{
    border:3px solid #ACA593;
}

.stepfont{
   
   font-family:Verdana;
   font-size:12px;
   color:#9b7f59;
   font-weight: 500;
   margin-top:5px;
}

.stepfont label{
    margin-left:10px;
   font-weight: 500;
}
.stepfont input[type=radio]{
    margin-left:20px;
}

.col-1{
    width:7% ;
    display:inline-block;
    vertical-align:top;
}

.col-2{
    width:16% ;
    display:inline-block;
    vertical-align:top;
}

ul.radiogroup{
    margin:10px,0,0,0;
       list-style:none;
}
ul.radiogroup li{
    display:inline;
}

.col-6{
    width:74% ;
    display:inline-block;
}

.col-3{
    width:25% ;
    display:inline-block;
 }

.centered{
    text-align:center;
}

.clear{
    clear:both;
}

.btnsigns{
     width: 117px !important;
    border-radius: 1em;
    color: white;
    font-family: arial;
    font-size: 12px;
    background: #154890;
    cursor: pointer;
    font-weight: bold;
    height: 26px;
    right: 6px;
    margin-bottom:10px;
    width: 120px;
    box-shadow: 2px 2px 6px #154890;
    border: 1px solid #154890;
}


.btnsigns:hover{
    border:none;
    background-color:#154890;
}



ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline; cursor:pointer;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.curpage {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.curpage) {background-color: #ddd;}

.loading-bro {
  margin: 50px auto;
  width: 100px;
}

.loading-bro  > h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 300;
    color: #8E8E8E;
  }

#load {
    width: 100px;
    animation: loading 3s linear infinite;
}

#load    #loading-inner {
    stroke-dashoffset:0;
    stroke-dasharray:300;
    stroke-width:10;
    stroke-miterlimit:10;
    stroke-linecap:round;

       
      animation: loading-circle 2s linear infinite;
      stroke: #51BBA7;
      fill: transparent;
    }

@keyframes loading {
		0% { 
      transform: rotate(0); 
    }
		100% { 
      transform: rotate(360deg);
    }
}
@keyframes loading-circle {
		0% { 
      stroke-dashoffset: 0
    }
		100% { 
      stroke-dashoffset: -600;
    }
}


.drop-shadow {
  position:relative;
  display:inline-block;
  padding:4px;
  border:1px solid #e1d4c0;
  background:#fff;

}
.drop-shadow:after, .drop-shadow:before{
     content:"";
    position:absolute;
    z-index:-2;
}


.perspective:after {
    left:0px;
    width:100px;
    bottom:10%;
    height:80%;
    box-shadow:80px 0 8px rgba(0, 0, 0, 0.4);
  -webkit-transform: skew(-10deg);
   -moz-transform: skew(-10deg);
   -ms-transform: skew(-10deg);
   -o-transform: skew(-10deg);
   transform: skew(-10deg);
   -webkit-transform-origin: 0% 100%;
   -moz-transform-origin: 0% 100%;
   -ms-transform-origin: 0% 100%;
   -o-transform-origin: 0% 100%;
   transform-origin: 0% 100%;
}

.perspective:before{
    display:none;
}

.effect4
{
  position: relative;
}
.effect4:after
{
     position: absolute;   
    z-index: -1; 
    top: 3px;
    bottom: 0;
    left: 79%;
    background: rgba(0,0,0,0.3);
    box-shadow: 4px 0 3px rgba(0,0,0,0.3);
    width: 20%; 
    height:50%;   
    transform: rotate(3deg);
}  